:root {
    --color-0: #020024;
    --body-grdient: linear-gradient(
            128deg,
            #020024 0%,
            #1980B6 30%,
            #FD267A 87%);
);
}

body {
    /*background: var(--color-0);*/
    /*background: var(--body-grdient);*/
}

.navbar {
    display: flex;
    flex-flow: row;
    gap: 30px;
}

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
}

input[type="radio"] {
    display: none;
}

label {
    color: grey;
}

.clasificacion {
    font-size: 30px;
    direction: rtl;
    unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
    color: orange;
}

input[type="radio"]:checked ~ label {
    color: orange;
}

textarea {
    width: 100%;
}