:root {
    --color-0: #020024;
    --body-grdient: linear-gradient(
            128deg,
            #020024 0%,
            #1980B6 30%,
            #FD267A 87%);
);
}

body {
    /*background: var(--color-0);*/
    /*background: var(--body-grdient);*/
}

.navbar {
    display: flex;
    flex-flow: row;
    gap: 30px;
}