body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.content {
    padding: 20px;
}

.toast {
    display: none;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ea2e2e;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    animation-duration: 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeIn {
    animation-name: fadeIn;
}

.fadeOut {
    animation-name: fadeOut;
}