* {
    user-select: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

table {
    text-align: center;
    font-size: 20px;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

tbody tr:nth-child(even) {
    background-color: #c7c7c7;
}

table:first-child {
    /*background-color: transparent;*/
}

tr {
    height: 4vh;
    cursor: pointer;
}

thead tr {
    height: 4vh;
    cursor: auto;
}

td {
    border: 1px solid rgb(128, 128, 128);
    padding: 2px;
}

th {
    background: black;
    color: white;
    border-radius: 8px;
    border: 1px solid rgb(128, 128, 128);
}

thead {
    border: none;
}

.content {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
}

.content input {
    height: 4vh;
    width: 20vw;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}

.content label {
    font-size: 20px;
    margin-bottom: 20px;
}