.colaborador {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.colaborador img {
  max-width: 80%;
  margin-right: 10px;
}
.colaborador p {
  flex-grow: 1;
  text-align: justify;
  height: 100%;
  width: 50%;
}
