body {
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 98%;
    height: 3vh;
}

#content {
    flex: 1;
    text-align: center;
}

.data {
    text-align: center;
    width: 20%;
    height: 4vh;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    border: 1px solid black;
}

.data:focus {
    background-color: rgba(160, 248, 219, 0.8);
}

.submit {
    width: 10%;
    height: 3.5vh;
    border-radius: 7px;
    border: 1px solid black;
    cursor: pointer;
}

.submit:hover {
    background-image: url("../resources/enviando.png");
    background-size: cover;
    background-repeat: no-repeat;
}