<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../style/theme.css">
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/footer.css">
    <title></title>
</head>
<body>
<footer>
    <div class="address">
        <table>
            <tr>
                <td>Direccion</td>
                <td>Calle Algo, s/n</td>
            </tr>
            <tr>
                <td>Codigo Postal</td>
                <td>12345</td>
            </tr>
            <tr>
                <td>Provincia</td>
                <td>Valladolid, España</td>
            </tr>
            <tr>
                <td>Teléfono</td>
                <td>123456789</td>
            </tr>
            <tr>
                <td>eMail</td>
                <td>info@steam2.com</td>
            </tr>
        </table>
    </div>
    <div class="logo"><img src="https://gregoriofer.com/logo.jpg" alt=""></div>
    <div class="social-media">

    </div>
</footer>
</body>
</html>