root {
    --page-color: lightgreen;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    background-color: var(--page-color);
    padding: 10px;
    min-height: 100vh;
    position: relative;
}

.grid-item {
    text-align: justify;
    padding: 20px;
    font-size: 20px;
}

header {
    grid-row: 1;
    background-color: var(--page-color);
}

.content {
    grid-row: 2;
    overflow-y: auto;
    padding-bottom: 60px;
}
