html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    background-color: var(--primary_color);
    /*padding: 10px;*/
    min-height: 100vh;
    position: relative;
}

.grid-item {
    text-align: justify;
    padding: 20px;
    font-size: 20px;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 999;
    grid-row: 1;
}

.content {
    grid-row: 2;
    overflow-y: auto;
    padding-bottom: 60px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}