.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    background-color: lightgreen;
    padding: 10px;
    height: 96.3vh;
}

.grid-item {
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

header {
    background-color: red;
    grid-column: 1 / span 2;
    grid-row: 1;
}

.footer {
    background-color: lightseagreen;
    grid-column: 1 / span 2;
    grid-row: 3;
}

.aside {
    background-color: mediumpurple;
    grid-column: 1;
    grid-row: 2;
}

.content {
    background-color: yellow;
    grid-column: 2;
    grid-row: 2;
}

iframe {
    width: 100%;
    border: none;
}